<div *ngIf="room">

  <div *ngIf="isNew;then createTitle else updateTitle"></div>
  <ng-template #createTitle><h3>New Room:</h3></ng-template>
  <ng-template #updateTitle><h3>Edit:</h3></ng-template>

  <div class="room-name">
    <mat-form-field>
      <input matInput [(ngModel)]="room.name" placeholder="name"/>
    </mat-form-field>
  </div>
  <div class="room-description">
    <mat-form-field>
      <input matInput [(ngModel)]="room.description" placeholder="description"/>
    </mat-form-field>
  </div>
  <div class="room-location">
    <mat-form-field>
      <input matInput [(ngModel)]="room.location" placeholder="location"/>
    </mat-form-field>
  </div>


  <div class="alert alert-warning">
    Until the trilateration algorithm is fixed, issues may occur on multiple dataItems per room per beacon,
    Rooms should be seen as Beacon extensions without any other purpose.
  </div>

  <div class="actionButtons">
    <button mat-raised-button (click)="onCancelClick()">Cancel</button>
    <div *ngIf="isNew;then createButton else updateButton" ></div>
    <ng-template #createButton><button mat-raised-button color="primary" (click)="onSubmitClick()">Create</button></ng-template>
    <ng-template #updateButton><button mat-raised-button color="primary" (click)="onSubmitClick()">Update</button></ng-template>
  </div>
</div>
