@import "../../../base";

.sub-group {
  padding: 0 1em;
  border-left: 5px solid orange;
  margin: 0 0 1em 0;
}

.key {
  color: #777;
  font-family: Arial;
  font-size: .8em;
  display: block;
}

.item {
  margin-bottom: .3em;
}
