<div class="col-md-12 component-title">
  <div class="col-md-6">
    <h2>Beacons</h2>
  </div>
  <div class="col-md-6">
    <button mat-raised-button color="primary" (click)="onCreate()">Add new beacon</button>
  </div>
</div>
<div *ngIf="beacons" class="col-12-md item-list">
  {{ beacons.length }}
  <div *ngFor="let beacon of beacons; let i = index" class="row item-list-item">
    <div class="col-md-10">
      <div class="beacon-id"><span class="key">Id:</span> {{ beacon.id }}</div>
      <div class="beacon-roomId"><span class="key">Room Id:</span> {{ beacon.roomId }}</div>
      <div class="beacon-name"><span class="key">Name:</span> {{ beacon.name }}</div>
      <div class="beacon-description"><span class="key">Description:</span> {{ beacon.description }}</div>
      <div class="beacon-major"><span class="key">Major:</span> {{ beacon.major }}</div>
      <div class="beacon-minor"><span class="key">Minor:</span> {{ beacon.minor }}</div>
      <div class="beacon-calibrationFactor"><span class="key">Calibration Factor:</span> {{ beacon.calibrationFactor }}</div>
      <div class="beacon-lastUpdated"><span class="key">Last Updated:</span> {{ beacon.lastUpdated }}</div>
    </div>
    <div class="col-md-2">
      <button mat-icon-button aria-label="edit" class="edit-button" (click)="onUpdate(beacon)">
        <mat-icon>mode_edit</mat-icon>
      </button>
      <button mat-icon-button aria-label="delete" class="delete-button" (click)="onDelete(i, beacon)">
        <mat-icon aria-hidden="true">delete_forever</mat-icon>
      </button>
    </div>
  </div>
</div>
