<div class="col-md-12 component-title">
  <div class="col-md-6">
    <h2>Rooms</h2>
  </div>
  <div class="col-md-6">
    <button mat-raised-button color="primary" (click)="onCreate()">Add new room</button>
  </div>
</div>
<div *ngIf="rooms" class="col-12-md item-list">
  {{ rooms.length }}
    <div *ngFor="let room of rooms; let i = index" class="row item-list-item">
      <div class="col-md-10">
        <div class="room-id"><span class="key">Id:</span> {{ room.id }}</div>
        <div class="room-name"><span class="key">Name:</span> {{ room.name }}</div>
        <div class="room-description"><span class="key">Description:</span> {{ room.description }}</div>
        <div class="room-location"><span class="key">Location:</span> {{ room.location }}</div>
      </div>
      <div class="col-md-2">
        <button mat-icon-button aria-label="edit" class="edit-button" (click)="onUpdate(room)">
          <mat-icon>mode_edit</mat-icon>
        </button>
        <button mat-icon-button aria-label="delete" class="delete-button" (click)="onDelete(i, room)">
          <mat-icon aria-hidden="true">delete_forever</mat-icon>
        </button>
      </div>
    </div>
</div>
