<div class="login">
  <form [formGroup]="loginForm">
    <mat-input-container>
      <input
        matInput
        type="email"
        [(ngModel)]="login.email"
        placeholder="Email"
        name="email"
        formControlName="email"
        required="required"/>
      <mat-error *ngIf="email.errors && (email.dirty || email.touched)">
        <div [hidden]="!email.errors.required">
          Email is required
        </div>
        <div [hidden]="!email.errors.pattern">
          Invalid email
        </div>
      </mat-error>
    </mat-input-container>
    <mat-input-container>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="login.password" name="password" formControlName="password" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="password.errors && (password.dirty || password.touched)">
        <div [hidden]="!password.errors.required">
          Password is required!
        </div>
      </mat-error>
    </mat-input-container>

    <button
      mat-raised-button
      type="submit"
      color="primary"
      (click)="onLogin()"
      [disabled]="loginForm.invalid">login</button>
  </form>
</div>
