.login {
  margin: 0 auto;
  margin-top: 20vh;
  max-width: 250px;

  #logo {
    text-align: center;

    img {
      height: auto;
      width: 10em;
    }
  }

  form {
    margin: auto;

    .mat-form-field {
      display: block;
    }

    button {
      width: 100%;
    }
  }
}

.alert-login {
  max-width: 300px;
  margin: 1em auto;
}

