<div *ngIf="dataSource">

  <div *ngIf="isNew;then createTitle else updateTitle"></div>
  <ng-template #createTitle><h3>New Data Source:</h3></ng-template>
  <ng-template #updateTitle><h3>Edit:</h3></ng-template>

  <div class="dataSource-url">
    <mat-form-field>
      <input matInput [(ngModel)]="dataSource.url" placeholder="URL"/>
    </mat-form-field>
  </div>
  <div class="dataSource-destinations">
    <button mat-raised-button color="accent" (click)="onAddDestination()" class="space">Add Destination</button>
    <div *ngFor="let dataDestination of dataDestinations" class="dataDestination">
      <mat-form-field>
        <input matInput [(ngModel)]="dataDestination.destination" placeholder="destination"/>
      </mat-form-field>

      <h3>Conversion scheme</h3>
      <div class="conversionScheme">
        <div *ngFor="let conversion of dataDestination.conversionScheme">

          <div *ngIf="isInformationSchemeEntry(conversion); then informationDLD else stringDLD"></div>
          <ng-template #informationDLD>
            <mat-form-field>
              <input matInput [(ngModel)]="conversion.incomingDataKey" placeholder="Incoming data: key"/>
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="conversion.dataLogData.index" placeholder="Information: display index"/>
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="conversion.dataLogData.name" placeholder="Information: display name"/>
            </mat-form-field>
            <button mat-icon-button class="delete-button" (click)="onRemoveInformationSchemeEntry(dataDestination, conversion)">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </ng-template>

          <ng-template #stringDLD>
            <div class="schemeItemId">
              <mat-form-field>
                <input matInput [(ngModel)]="conversion.incomingDataKey" placeholder="Incoming data: Item id"/>
              </mat-form-field>
            </div>
            <button mat-raised-button color="accent" class="space" (click)="onAddInformationSchemeEntry(dataDestination)">Add Information scheme entry</button>
          </ng-template>
        </div>
      </div>

      <button mat-raised-button color="warn" (click)="onRemoveDestination(dataDestination)">Remove</button>
    </div>
  </div>
  <!-- Buttons -->
  <div class="actionButtons">
    <button mat-raised-button (click)="onCancelClick()">Cancel</button>
    <div *ngIf="isNew;then createButton else updateButton" ></div>
    <ng-template #createButton><button mat-raised-button color="primary" (click)="onSubmitClick()">Create</button></ng-template>
    <ng-template #updateButton><button mat-raised-button color="primary" (click)="onSubmitClick()">Update</button></ng-template>
  </div>
</div>

