<!--The content below is only a placeholder and can be replaced.-->
<!--<h1>{{ title }}</h1>-->
<div class="row wrapper">
  <div *ngIf="loggedIn" ngClass="col-md-2 navigation">
    <nav>
      <a class="logo" routerLink="/dashboard">
        <img  src="assets/img/ram_logo.png" alt="ram_logo"/>
      </a>
      <a routerLink="/rooms">Rooms</a>
      <a routerLink="/beacons">Beacons</a>
      <a routerLink="/dataItems">Data Items</a>
      <a routerLink="/users">Users</a>
      <div class="bottom">
        <a class="logout" routerLink="" (click)="onLogout()">Logout</a>
      </div>
    </nav>
  </div>
  <div class="col-md-{{loggedIn? '10': '12'}} content">
    <router-outlet></router-outlet>
  </div>
</div>
