<div *ngIf="beacon">

  <div *ngIf="isNew;then createTitle else updateTitle"></div>
  <ng-template #createTitle><h3>New Beacon:</h3></ng-template>
  <ng-template #updateTitle><h3>Edit:</h3></ng-template>

  <!--ToDo list of rooms / search w/ auto-complete? -->
  <!--<div class="beacon-roomId">-->
    <!--<mat-form-field>-->
      <!--<input matInput [(ngModel)]="beacon.roomId" placeholder="Room id"/>-->
    <!--</mat-form-field>-->
  <!--</div>-->
  <form (ngSubmit)="onSubmitClick()" #beaconForm="ngForm">
    <div class="beacon-roomId2">
      <mat-input-container>
        <mat-select matInput placeholder="Room" [(ngModel)]="beacon.roomId" name="roomId" required>
          <mat-option *ngFor="let room of rooms" value="{{ room.id }}">{{ room.name }}</mat-option>
        </mat-select>
      </mat-input-container>
    </div>

    <div class="beacon-name">
      <mat-input-container>
        <input matInput [(ngModel)]="beacon.name" placeholder="name" name="name" required/>
      </mat-input-container>
    </div>
    <div class="beacon-description">
      <mat-input-container>
        <input matInput [(ngModel)]="beacon.description" placeholder="description" name="description"/>
      </mat-input-container>
    </div>
    <div class="beacon-major">
      <mat-input-container>
        <input matInput [(ngModel)]="beacon.major" placeholder="major" name="major" type="number" required/>
      </mat-input-container>
    </div>
    <div class="beacon-minor">
      <mat-input-container>
        <input matInput [(ngModel)]="beacon.minor" placeholder="minor" name="minor" type="number" required/>
      </mat-input-container>
    </div>
    <div class="beacon-calibrationFactor">
      <mat-input-container>
        <input matInput [(ngModel)]="beacon.calibrationFactor" placeholder="Calibration factor" value="0" type="number"/>
      </mat-input-container>
    </div>

    <div class="alert alert-warning">
      Until the trilateration algorithm is fixed, issues may occur on multiple dataItems per room per beacon,
      Rooms should be seen as Beacon extensions without any other purpose.
    </div>

    <!-- Buttons -->
    <div class="actionButtons">
      <button mat-raised-button type="button" (click)="onCancelClick()">Cancel</button>

      <div *ngIf="isNew;then createButton else updateButton" ></div>
      <ng-template #createButton><button mat-raised-button color="primary" type="submit" [disabled]="!beaconForm.form.valid">Create</button></ng-template>
      <ng-template #updateButton><button mat-raised-button color="primary" type="submit" [disabled]="!beaconForm.form.valid">Update</button></ng-template>
    </div>
  </form>
</div>

