@import "variables";

.edit-button:hover {
  color: $accent;
}
.delete-button:hover {
  color: $warn;
}

.actionButtons {
  float: right;
}


.beacon {
  margin: 1em;
}

.key {
  color: #F75421;
  font-weight: bold;
}
