@import "~@angular/material/theming";

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-teal);
$app-warn:    mat-palette($mat-red);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);


// Colours
$primary-color: #333;
$accent-color-1: #F6A82B;

.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
  background-color: $accent;
}
